* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
 
body {
    font-family: 'Merriweather', serif;
}


h1 {
    text-align: center;
    padding: 20px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 24px;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}

.para1 {
    width: 90%;
    padding: 10px;
    margin: auto;
    border-bottom: 7px double black;
}

h1 {
    text-align: center;
    font-size: 18px;
    
}

p {
    font-size: 18px;
    text-align: center;
    color: gray;
}

input:focus {
    background-color: lawngreen;
}

.row {
    max-width: 768px;
    margin: 0 auto;
  }

.first-part {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}



.legend1 {
    width: 85%;
    margin: auto;
    
    padding-top: 35px;
    font-size: 24px;
    font-weight: bold;
    

}

fieldset {
    border: 0;
    margin-left: 10px;
}
label {
    display: inline;
    font-size: 20px;
    padding: 15px;
}

input,
select {
    padding: 15px;
    background-color: rgb(222, 219, 215);
}

.newsletter {
    border-top: 2px solid black;
    width: 90%;
    text-align: left;
    padding-bottom: 20px;
    
}

.format {
    width: 90%;
    margin: auto;
    padding: 20px;
    
}
h2, h3 {
    padding: 20px;
    font-size: 30px;
}

.checkbox {
    width: 80%;
    padding: 5px;
    font-size: 25px;
    
}

.radio {
    width: 80%;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
}

.labeltext {
    margin: 20px 0;
}
textarea {
    margin: 20px 0 0 20px;
    width: 90%;
    padding: 55px;
    background-color: rgb(205, 204, 203);
    border-radius: 8px;
}

button {
    text-align: center;
    display: block;
    width: 90%;
    padding: 20px;
    font-size: 35px;
    margin: 20px auto 0 20px;
    background-color: rgb(17, 190, 133);
    border-radius: 8px;
}

.footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

@media (min-width: 768px) {
    .first-part {
        flex-direction: row;
        justify-content: flex-start;
}

label {
    width: 30%;
}

.first-part {
    flex-basis: 25%;
}

input,
select {
     flex-basis: 75%;
     flex-grow: 1;
 }   

 #zip-code {
     max-width: 25%;
 }
}